html {
  scroll-behavior: smooth;
}

.navbar{
  width:100%;
  position: sticky;
  top: 0;
  padding: 15px;
  overflow: hidden;
  background-color: white;
  margin-top: 0;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(36, 50, 66, 0.15);
}

.navbar-left{
  color: #fff;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-right a {
  padding: 0px 35px;
  text-decoration: none;
  color: #fff;
}

#about{
  background-image: url('https://download.hipwallpaper.com/desktop/1280/1024/88/17/xUs1LK.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* #about h2{
  font: 22px/30px 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
} */

#about h3{
  border-bottom: 3px solid #fff;
  color: #fff;
  font: 300 26px/34px "Raleway",sans-serif;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align: center;
}

#about p{
  line-height: 35px;
  color: #fff;
}


.bio-container{
  width: 100%;
  padding: 0;
  margin:0;
}

.bio-left{
  padding: 20px;
}

.bio-left h2{
  font: 26px/34px 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
}

.pp-container{
  text-align: center;
  display: block;
  margin: 5px auto;
  padding: 10px;
  width: 300px;
}

.profile-pic{
  border-radius: 100%;
  height: auto;
  margin: 15px 18px;
  position: relative;
  width: 70%;
}

.bio-right{
  padding: 50px;
}

.bio-right p{
  font-size: 18px;
}

.bio-right h2{
  font: 32px/40px 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
}

.contact-container{
  text-align: center;
  padding: 20px 5%;
  background-color: #222831;
  color: white;
  text-shadow: 1px 1px 1px rgba(33, 33, 33, 0.2);
}

.card-holder{
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

#contact .card{
  width: 150px;
  margin: 20px;
  text-align: center;
  background-color: #222831;
  border: none;
}

#contact .card a{
  color: white;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
#contact .card p{
  font-size: 17px;
  padding: 0 12px;
}

#contact .card a:hover{
  transform: scale(1.1);
}



.portfolio{
  text-align: center;
  justify-content: center;
}


@media only screen and (max-width: 620px) {
  .navbar-left {
    margin: auto;
  }
  #about h3{
    width: 94%;
  }
  .bio-left{
    padding: 60px 0px;
  }
  .navbar-right a {
    padding: 0px 27px;
  }

  #portfolio .card {
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }


}

/* ---------------PROJECTS----------------- */

#portfolio {
  margin-bottom: 20px;
}

#portfolio .card {
  background-color: #F9F9F9;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  padding: 0px;
  margin-bottom: 30px;
}

.my-projects-header {
  font-weight: 300;
  color: black;
  font-size: 48px;

}

.work-picture {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.work-title {
  font-weight: 300;
  color: black;
}

.work-description {
  color: black;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.more-button {
  color: #EEEEEE;
  background: #4F8A8B;
  border-radius: 80px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
}

.more-button:hover {
  color: #222831;
  background: #EEEEEE;
  border-radius: 80px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
}
